# Start with the name of Allah who is the most Benefical and most Merciful

# chapter 5 : Getting started with pandas

In [1]:
import pandas as pd

In [2]:
import numpy as np

In [3]:
from pandas import Series,DataFrame

# 5.1 Introduction to pandas Data Structure

In [4]:
#There are two Data Structure in Pandas Series & DataFrame

In [5]:
obj = pd.Series([1,2,3,5,-7])

In [6]:
obj

0    1
1    2
2    3
3    5
4   -7
dtype: int64

In [7]:
obj.values

array([ 1,  2,  3,  5, -7], dtype=int64)

In [8]:
obj.index

RangeIndex(start=0, stop=5, step=1)

In [9]:
obj2 = pd.Series([1,3,4,5] ,index=["a","b","c","d"])

In [10]:
obj2

a    1
b    3
c    4
d    5
dtype: int64

In [11]:
obj2.index

Index(['a', 'b', 'c', 'd'], dtype='object')

In [12]:
obj2["a"]

1

In [13]:
obj2["b"] = 6

In [14]:
obj2

a    1
b    6
c    4
d    5
dtype: int64

In [15]:
obj2[["b","c"]]

b    6
c    4
dtype: int64

In [16]:
obj2[obj2>2]

b    6
c    4
d    5
dtype: int64

In [17]:
obj2*2

a     2
b    12
c     8
d    10
dtype: int64

In [18]:
np.exp(obj2)

a      2.718282
b    403.428793
c     54.598150
d    148.413159
dtype: float64

In [19]:
"n" in obj2

False

In [20]:
"b" in obj2

True

In [21]:
5 in obj2

False

In [22]:
6 in obj2

False

In [23]:
obj2

a    1
b    6
c    4
d    5
dtype: int64

In [24]:
1 in obj2

False

In [25]:
sdata = {"coaching":10000,
         "job":18000,
         "vincy":5000 }

In [26]:
obj3 = pd.Series(sdata)

In [27]:
obj3

coaching    10000
job         18000
vincy        5000
dtype: int64

In [28]:
new = ["saleem", "osama","mamo","phupp"]
obj4 = pd.Series(sdata,index=new)

In [29]:
obj4

saleem   NaN
osama    NaN
mamo     NaN
phupp    NaN
dtype: float64

In [30]:
pd.isnull(obj4)

saleem    True
osama     True
mamo      True
phupp     True
dtype: bool

In [31]:
pd.notnull(obj4)

saleem    False
osama     False
mamo      False
phupp     False
dtype: bool

In [32]:
obj4.isnull()

saleem    True
osama     True
mamo      True
phupp     True
dtype: bool

In [33]:
obj4.notnull()

saleem    False
osama     False
mamo      False
phupp     False
dtype: bool

In [34]:
obj3

coaching    10000
job         18000
vincy        5000
dtype: int64

In [35]:
obj3 + obj4

coaching   NaN
job        NaN
mamo       NaN
osama      NaN
phupp      NaN
saleem     NaN
vincy      NaN
dtype: float64

In [36]:
new1 = pd.Series([12,2,3,4], index=["a","b","c","d"])
new2 = pd.Series([9,7,66,5] , index=["e","b","f","g"])

In [37]:
new1+new2

a    NaN
b    9.0
c    NaN
d    NaN
e    NaN
f    NaN
g    NaN
dtype: float64